[submodule "linux"]
	path = linux
	url = https://github.com/sagsango/linux.git
[submodule "qemu-8.2.9"]
	path = qemu-8.2.9
	url = https://github.com/sagsango/qemu-8.2.9.git
[submodule "kmods"]
	path = kmods
	url = https://github.com/sagsango/kmods.git
[submodule "cs561-examples"]
	path = cs561-examples
	url = https://github.com/sagsango/cs561-examples.git
